html {
	--out-width: 98vmin; /* * 1% of the viewport's smaller dimension */
	--font-size: calc(var(--out-width)/35);	/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_containment/Container_queries */
	/*--font-size: calc(11vmin);*/	/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_containment/Container_queries */
	--small-font-size: calc(var(--font-size)*0.75);	/* если сказать em, то величиной будет em, а не вычисленное в этот момент значение. Поэтому -- вычисляется */
	--ltl-font-size: calc(var(--font-size)*0.5);
	--pico-font-size: calc(var(--font-size)*0.3);
}
body {
	font-size:var(--font-size);
}

img.knob {
	width:calc(var(--font-size)*1.8);
}

.alarm {
    animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
    0%{     color: white;    }
    50%{    color: transparent; }
    100%{   color: white;    }
}

.withBorder {
	border: solid black;
	border-radius: calc(var(--out-width)*0.02);
	margin: 0.1em;
}

#messageTXT {
	position:absolute;
	width:75%;
	height:55%;
	top:7%;
	left:50%;
	transform: translate(-50%, 0);
	background-color: white;
	font-size: var(--small-font-size);
	padding: 1em;
}

