[Desktop Entry]
Encoding=UTF-8
Name=Ссылка на Metrize Icons, 300 free Icons by Alessio Atzeni
Type=Link
URL=https://icon-icons.com/pack/Metrize-Icons/1130&page=1
Icon=text-html
